# System files
# ------------
Icon
.DS_Store

# Temporary files
# ---------------
/storage/*.key

# Installation files
# ---------------
/vendor
/kirby
/site/plugins/*

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode/*
!/.vscode/extensions.json
/.idea

# License
# ---------------
/site/config/.license

# Contents
# --------
/content/*
!/content/home
!/content/error
!/content/articles
/content/articles/*
!/content/articles/articles.txt
!/content/media/media.txt
!/content/search

# Frontend
# --------
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

logs
*.log
node_modules
dist
!public/assets/dist
.dev
content/home/.lock
