# System files
# ------------
Icon
.DS_Store

# Temporary files
# ---------------
/storage/*.key

# Installation files
# ---------------
pnpm-lock.yaml
/vendor
/kirby
/site/plugins/*

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode/*
!/.vscode/extensions.json
/.idea

# License
# ---------------
/site/config/.license

# Contents
# --------
/content/*

# Frontend
# --------
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

logs
*.log
node_modules
dist
!public/assets/dist
.dev
content/home/.lock

# CS Fixer
# --------
.php-cs-fixer.cache
site/logs/retour
cghooks.lock

