parameters:
  level: 6
  paths:
    - site
  excludePaths:
    - site/plugins

  ignoreErrors:
    - 
      message: '#Variable \$(page|site) might not be defined.#'
      paths:
        - site/snippets
        - site/templates
    -
      message: '#Function vite not found.#'